/* CoursesList.css */

.course-list-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: rgb(26, 31, 58);
  border-radius: 10px;
}

.course-list {
  background-color: #1d1f3b;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  padding: 10px;
}

.course-card {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: red;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nav-items {
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}

.course-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.course-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.course-description {
  color: white;
  margin-bottom: 10px;
}

.course-price {
  background-color: #515877;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.btn {
  background-color: #101631;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}



