.banner {
  position: relative;
  width: 50%;
  max-height: 500px;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}



.Carousel {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.Carousel .carousel .slider-wrapper {
  border-radius: 8px;
}

.Carousel .carousel .slider {
  border-radius: 8px;
}

.Carousel .carousel .slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.Carousel .carousel .slider .slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner {
    max-height: 250px;
  }
}
