.main_home{
  background-color: #131632 !important;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.imageBanner{
  background-color: #131632 !important;
  display: flex;
  justify-content: center !important;
}
.popular-courses{
background-color: transparent ;
padding: 20px;
border-radius: 10px;

}
.studentName{
background-color: #ffffff;
border-radius: 8px;
font-family: 'Courier New', Courier, monospace;
padding: 4px;
}
.popular-courses-section h2{
display: flex;
align-items: flex-start; flex-direction: column;
margin-left: 30px;
margin-bottom: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium !important;
font-weight: 500;
color: white;
}
.testimonial-section h2{

  color: rgb(247, 245, 245);
}