/* landingpage.css */



.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  border: none !important;
  opacity: inherit;
}

.content {
  text-align: center;
}
.content p{
  font-size: 30px; 
  font-family: 'Times New Roman', Times, serif;
  color: rgb(240, 152, 44);
}


.cogni-code {
  color: #e2eefa;
  margin-bottom: 20px;
}

.moto {
  font-size: 20px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(125, 219, 243);
}

.login-button button {
  width: fit-content;
  background-color: #fd89ea;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.login-button button:hover {
  background-color: rgb(238, 221, 125);
}
