/* navbar.css */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2c2e7;
  color: rgb(8, 0, 0);
  padding: 10px 20px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(151, 151, 233, 0.2);

  
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: rgb(3, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease; 

}

.nav-link:hover {
  background-color: rgb(151, 151, 233);
  color: #321ee7;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

button {
  background-color: rgb(151, 151, 233);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  transition: color 0.3s ease; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover {
  background-color: rgb(138, 138, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e2ad1;
  border:none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .nav-item {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
