/* navbar.css */
.nav-wrapper {
  display: flex;
  justify-content: space-between; /* Change to space-between */
  align-items: center;
  background-color: #101631;
  color: #f1e9e9;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 20px;
  border: none;
}

.nav-link {
  text-decoration: none;
  color: #dddfec;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #99eb6a;
}

button {
  background-color: rgb(16, 22, 49);
  border: none;
  border-radius: 10px;
  padding: 10px 20px; /* Added padding for a more comfortable click area */
  cursor: pointer;
  color: #ffffff; /* Changed text color to white */
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
  background-color:rgb(42, 50, 92);
  color: #99eb6a;
  border: none;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .nav-item {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
