/* Registration.css */
body{
  /* background-image: url('/public/assets/hand.jpg'); */
  background-color: brown;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color:  #45a049;
    color: rgb(5, 5, 5);
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(183, 192, 177);
  }
  .mainc:hover {
    /* Adjust the shadow and transform on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }